<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/WebAutomationPOM/src/test/java/testcases">
        <classes>
            <class name="testcases.TestLogin">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                    <include name="testLoginWithInvalidPassword"/>
                    <include name="testLoginWithInvalidEmail"/>
                    <include name="testLoginWithInvalidEmailAndPassword"/>
                    <include name="testLoginWithInvalidEmailFormat"/>
                    <include name="testLoginWithoutEmail"/>
                    <include name="testLoginWithoutPassword"/>
                    <include name="testLoginWithoutEmailAndPassword"/>
                    <include name="testLoginWithInvalidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>